@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CENTAURI PAY</h1>
    <p class="lead">Centauri Pay is the leading pay application authorized by the SEC.</p>
    <p>@*<a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>*@</p>
</div>

<div class="row">

</div>